@charset "utf-8";
/* CSS Document */

.content_list{
}
.list_title{
	height:34px;
	border: dashed 1px #333;
	border-left:none;
	border-right:none;
	background-color:#eee;
}
.list_title th{font-size:14px;}
.content_list ul{
	margin-top:15px;
}
.content_list ul li{
	border-bottom: dashed 1px #333;
	height:36px;
	line-height:36px;
	position:relative;
}
.content_list ul li a{
	font-size:14px;	
}
.content_list ul li span.clicknum{
	font-family:Arial, Helvetica, sans-serif;
	display:block;
	text-align:center;
	height:36px;
	line-height:36px;
	width:166px;
	position:absolute;
	right:0;
	top:0;
}

.catelog{
	margin-bottom:10px;
}
span.btn_open{
	cursor:pointer;
	width:20px;
	height:20px;
	line-height:20px;
	display:block;
	position:absolute;
	top:8px;
	right:15px;
	text-indent:-9999px;
}
.cate_level1{
	width:253px;
	margin:0 auto 10px auto;
	position:relative;
}
.cate_level1 h3{
	background:url(../images/cate_leve1_bg.png) no-repeat;
	height:35px;
	text-indent:15px;
	line-height:35px;
	display:block;
}
.cate_level1 h3 a{font-size:14px; font-weight:bold;}
.cate_level1 h3.selected{
	background-image:url(../images/cate_leve1_bg_hover.png)	;
}
.cate_level1 h3.selected a{
	color:#FFF;
}
.catecontainer{
	position:relative;
}
.cate_level2{
	position:relative;
	width:240px;
	margin:10px auto;
	background-color:#FFF;
}
.cate_level2 span.btn_open{
	text-indent:0;
	text-align:center;
	font-size:16px;
	top:0px;
	right:15px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	line-height:30px;
	height:30px;
}
.cate_level2 li{
	position:relative;
	background-color:#666;
	line-height:30px;
}
.cate_level2 a,.cate_level2 a:link,.cate_level2 a:visited{
	font-size:14px;
	font-weight:bold;
	padding-left:15px;
	color:#FFF;
	line-height:30px;
	height:30px;
	display:block;
}

.cate_level3{
	position:relative;
	width:240px;
	background-color:#FFF;
	padding-top:1px;
}

.cate_level3 li{
	margin:5px auto;
	background-color:#999;	
	position:relative;
}
.cate_level3 a,.cate_level3 a:link,.cate_level3 a:visited {
	font-size:14px;
	font-weight:normal;
	padding-left:30px;	
}

.cate_level4{
	padding-top:1px;
	position:relative;
	background-color:#FFF;
}
.cate_level4 li{
	background-color:#CCC;
	margin-top:0;
	margin-bottom:1px;
	position:relative;
}
.cate_level4 a,.cate_level4 a:link,.cate_level4 a:visited{
	color:#000;
	font-size:12px;
	padding-left:45px;
}

.catelog .bknr{
	padding-bottom:1px;
}